.container-quiz {
  display: grid;
  margin: 1em 5vw;
  height: max-content;
  background-color: teal;
  border: 100%;
  padding: 1em;
}
.quiz-title {
  height: max-content;
  width: 100%;
  font-size: 3em;
  font-weight: bolder;
  
}

.math-question {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.question-count {
  font-size: 2rem;
  font-weight: bold;
}

.solutions {
  list-style: none;
  display: grid;
  font-size: 2em;
  counter-reset: li;
}

.question-bar {
  display: flex;
  position: relative;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  margin: 10px auto;
  padding: 5px 20px;

  &:hover{
    cursor: pointer;
  }
  

  &:nth-child(odd)::before {
    counter-increment: li;
    content: "" counter(li);
    position: absolute;
    left: 0;
    outline: 15px solid teal;

    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    

  }
  &:nth-child(even)::after {
    counter-increment: li;
    content: "" counter(li);
    position: absolute;
    right: 0;
    outline: 15px solid teal;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
}

li:nth-child(odd){
  padding-left: 2em
}

.correct-answer {
  background-color:greenyellow;
}
.incorrect-answer {
  background-color:crimson;
}

.result-window{
  display:grid;
  place-content: center;
  grid-template-columns: 1fr;
  color: black;
  height: 100%;
  width: 100%;
  font-size: 2.5rem;
  font-weight:bold;
  padding: 1em 10vw;
}

.h1-quiz{
  font-size: 5.5rem;
  font-weight: bolder;
  margin-top: 2em;
  -webkit-text-stroke: 1px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}